.ui.celled.stripped.padded.table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 0.75rem;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

td button {
  padding: 0.5rem;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 30rem;
  cursor: pointer;
}

td button:hover {
  background-color: #c82333;
 
}

.add-task-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.add-task-form label {
  margin-bottom: 0.5rem;
}

.add-task-form input,
.add-task-form select {
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #ddd;
  margin-bottom: 0.5rem;
}

.add-task-form button {
  padding: 0.5rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.add-task-form button:hover {
  background-color: #0069d9;
}
